@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap");
/* line 12, ../../netmatters/portfolio/scss/base/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 20, ../../netmatters/portfolio/scss/base/_reset.scss */
body {
  margin: 0; }

/* line 30, ../../netmatters/portfolio/scss/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 49, ../../netmatters/portfolio/scss/base/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 61, ../../netmatters/portfolio/scss/base/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 70, ../../netmatters/portfolio/scss/base/_reset.scss */
[hidden],
template {
  display: none; }

/* line 79, ../../netmatters/portfolio/scss/base/_reset.scss */
a {
  background: transparent; }

/* line 86, ../../netmatters/portfolio/scss/base/_reset.scss */
a:active,
a:hover {
  outline: 0; }

/* line 95, ../../netmatters/portfolio/scss/base/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 102, ../../netmatters/portfolio/scss/base/_reset.scss */
b,
strong {
  font-weight: bold; }

/* line 110, ../../netmatters/portfolio/scss/base/_reset.scss */
dfn {
  font-style: italic; }

/* line 118, ../../netmatters/portfolio/scss/base/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 126, ../../netmatters/portfolio/scss/base/_reset.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 134, ../../netmatters/portfolio/scss/base/_reset.scss */
small {
  font-size: 80%; }

/* line 141, ../../netmatters/portfolio/scss/base/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 149, ../../netmatters/portfolio/scss/base/_reset.scss */
sup {
  top: -0.5em; }

/* line 153, ../../netmatters/portfolio/scss/base/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 161, ../../netmatters/portfolio/scss/base/_reset.scss */
img {
  border: 0; }

/* line 168, ../../netmatters/portfolio/scss/base/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 176, ../../netmatters/portfolio/scss/base/_reset.scss */
figure {
  margin: 1em 40px; }

/* line 183, ../../netmatters/portfolio/scss/base/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 192, ../../netmatters/portfolio/scss/base/_reset.scss */
pre {
  overflow: auto; }

/* line 199, ../../netmatters/portfolio/scss/base/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 218, ../../netmatters/portfolio/scss/base/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 231, ../../netmatters/portfolio/scss/base/_reset.scss */
button {
  overflow: visible; }

/* line 241, ../../netmatters/portfolio/scss/base/_reset.scss */
button,
select {
  text-transform: none; }

/* line 253, ../../netmatters/portfolio/scss/base/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 264, ../../netmatters/portfolio/scss/base/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 272, ../../netmatters/portfolio/scss/base/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 282, ../../netmatters/portfolio/scss/base/_reset.scss */
input {
  line-height: normal; }

/* line 288, ../../netmatters/portfolio/scss/base/_reset.scss */
* input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 304, ../../netmatters/portfolio/scss/base/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 314, ../../netmatters/portfolio/scss/base/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 326, ../../netmatters/portfolio/scss/base/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 334, ../../netmatters/portfolio/scss/base/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 344, ../../netmatters/portfolio/scss/base/_reset.scss */
legend {
  border: 0;
  padding: 0; }

/* line 352, ../../netmatters/portfolio/scss/base/_reset.scss */
textarea {
  overflow: auto; }

/* line 360, ../../netmatters/portfolio/scss/base/_reset.scss */
optgroup {
  font-weight: bold; }

/* line 368, ../../netmatters/portfolio/scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 373, ../../netmatters/portfolio/scss/base/_reset.scss */
td,
th {
  padding: 0; }

/* line 5, ../../netmatters/portfolio/scss/base/_root.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem; }
  /* line 9, ../../netmatters/portfolio/scss/base/_root.scss */
  *:focus {
    outline: 0; }

/* line 14, ../../netmatters/portfolio/scss/base/_root.scss */
html {
  height: 100%;
  scroll-behavior: smooth; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 5, ../../netmatters/portfolio/scss/base/_base.scss */
body {
  font-family: Poppins, sans-serif;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  text-align: center;
  min-height: 100%;
  background: #eee;
  overflow-x: hidden; }

/* line 15, ../../netmatters/portfolio/scss/base/_base.scss */
h1 {
  font-size: clamp(1.675rem, 2.7vw, 2.4rem);
  margin: 1rem; }

/* line 20, ../../netmatters/portfolio/scss/base/_base.scss */
h2 {
  font-size: clamp(1.325rem, 2.4vw, 1.925rem);
  margin: 0; }

/* line 25, ../../netmatters/portfolio/scss/base/_base.scss */
h3 {
  font-size: clamp(1rem, 2.1vw, 1.5rem);
  margin: 1rem; }

/* line 30, ../../netmatters/portfolio/scss/base/_base.scss */
h4 {
  font-size: clamp(1rem, 2vw, 1.325rem);
  margin: 0; }

/* line 35, ../../netmatters/portfolio/scss/base/_base.scss */
p {
  font-size: clamp(0.8rem, 1.4vw, 1.125rem);
  text-align: justify;
  margin: 1rem auto; }
  @media screen and (min-width: 48rem) {
    /* line 35, ../../netmatters/portfolio/scss/base/_base.scss */
    p {
      max-width: 60ch; } }

/* line 44, ../../netmatters/portfolio/scss/base/_base.scss */
a {
  font-size: clamp(0.65rem, 1.7vw, 0.925rem);
  text-decoration: none;
  color: #000000; }

/* line 50, ../../netmatters/portfolio/scss/base/_base.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 8, ../../netmatters/portfolio/scss/base/_typography.scss */
.navigation .logo-mobile {
  margin: auto;
  font-size: 3rem;
  font-weight: 900;
  color: #3975ff;
  -webkit-text-fill-color: #3975ff;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: black;
  padding: 0.5rem; }

/* line 18, ../../netmatters/portfolio/scss/base/_typography.scss */
.navigation ul a {
  color: #0652ff;
  font-size: clamp(0.5rem, 3vw, 1rem);
  font-weight: 600; }

/* line 27, ../../netmatters/portfolio/scss/base/_typography.scss */
.logo-mobile {
  margin: auto;
  font-size: 5rem;
  font-weight: 900;
  color: #3975ff;
  -webkit-text-fill-color: #3975ff;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: black;
  padding: 1rem 0; }

/* line 38, ../../netmatters/portfolio/scss/base/_typography.scss */
.links-mobile a {
  color: #0652ff;
  font-size: 1.1rem;
  font-weight: 600; }

/* line 47, ../../netmatters/portfolio/scss/base/_typography.scss */
.logo {
  margin: auto;
  font-size: 5rem;
  font-weight: 900;
  color: #3975ff;
  -webkit-text-fill-color: #3975ff;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: black;
  padding: 1rem 0; }
  /* line 56, ../../netmatters/portfolio/scss/base/_typography.scss */
  .logo:hover, .logo:focus {
    font-size: 5.2rem;
    -webkit-text-fill-color: #6c99ff;
    padding: 0.9rem 0;
    text-shadow: 0 0 0.5rem #0652ff; }

/* line 65, ../../netmatters/portfolio/scss/base/_typography.scss */
.links a {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.75rem; }

/* line 73, ../../netmatters/portfolio/scss/base/_typography.scss */
.overlay {
  color: #ffffff; }

/* line 77, ../../netmatters/portfolio/scss/base/_typography.scss */
.overlay-h1 .h1 {
  text-shadow: 0.25rem 0.25rem 0.25rem #0652ff;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #0652ff;
  font-size: clamp(2.4rem, 5.5vw, 4rem);
  font-weight: 1000;
  text-align: center;
  margin: 0; }

/* line 88, ../../netmatters/portfolio/scss/base/_typography.scss */
.overlay-p p {
  text-shadow: 0.25rem 0.25rem 0.25rem #0652ff;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #0652ff;
  font-size: clamp(1.85rem, 4vw, 3rem);
  font-weight: 600;
  text-align: center;
  margin: 0; }

/* line 99, ../../netmatters/portfolio/scss/base/_typography.scss */
small {
  font-size: 0.875rem;
  font-weight: 600; }

/* line 112, ../../netmatters/portfolio/scss/base/_typography.scss */
.contact-info a.tel,
.contact-info a.email {
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-style: normal;
  font-weight: 600; }

/* line 120, ../../netmatters/portfolio/scss/base/_typography.scss */
label,
.form-control {
  font-size: clamp(1rem, 1.4vw, 1.125rem); }

/* line 127, ../../netmatters/portfolio/scss/base/_typography.scss */
.about-skills li {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 1rem; }
  /* line 131, ../../netmatters/portfolio/scss/base/_typography.scss */
  .about-skills li.html {
    text-shadow: 0 0 0.5rem #f06529; }
  /* line 134, ../../netmatters/portfolio/scss/base/_typography.scss */
  .about-skills li.css {
    text-shadow: 0 0 0.5rem #2965f1; }
  /* line 137, ../../netmatters/portfolio/scss/base/_typography.scss */
  .about-skills li.sass {
    text-shadow: 0 0 0.5rem #cc6699; }
  /* line 140, ../../netmatters/portfolio/scss/base/_typography.scss */
  .about-skills li.javascript {
    text-shadow: 0 0 0.5rem #f0db4f; }
  /* line 143, ../../netmatters/portfolio/scss/base/_typography.scss */
  .about-skills li.jquery {
    text-shadow: 0 0 0.5rem #0868ac; }
  /* line 146, ../../netmatters/portfolio/scss/base/_typography.scss */
  .about-skills li.git {
    text-shadow: 0 0 0.5rem #f1502f; }
  /* line 149, ../../netmatters/portfolio/scss/base/_typography.scss */
  .about-skills li.bash {
    text-shadow: 0 0 0.5rem #4eaa25; }

/* line 156, ../../netmatters/portfolio/scss/base/_typography.scss */
.coming-soon h2 {
  font-weight: 900;
  text-transform: capitalize;
  font-size: clamp(3rem, 7vw, 7rem); }

/* line 165, ../../netmatters/portfolio/scss/base/_typography.scss */
.scs-container em {
  font-size: inherit;
  margin: 0.5rem 0; }

/* line 169, ../../netmatters/portfolio/scss/base/_typography.scss */
.scs-container li {
  font-size: clamp(0.8rem, 1.4vw, 1.125rem);
  margin: 0; }

/* line 7, ../../netmatters/portfolio/scss/components/_extends.scss */
.screenshot, .screenshot-half {
  border-radius: 0.5rem; }
  @media screen and (min-width: 48rem) {
    /* line 7, ../../netmatters/portfolio/scss/components/_extends.scss */
    .screenshot, .screenshot-half {
      background: #0652ff;
      border-radius: 0.5rem 1.5rem 0.75rem 1.5rem;
      box-shadow: 0.5rem 0.35rem #0652ff;
      margin: 0 1.5rem 0 1rem; } }

/* line 17, ../../netmatters/portfolio/scss/components/_extends.scss */
.screenshot img, .screenshot-half img {
  border: 0.2rem solid #000000;
  border-radius: 0.5rem; }
  @media screen and (min-width: 48rem) {
    /* line 17, ../../netmatters/portfolio/scss/components/_extends.scss */
    .screenshot img, .screenshot-half img {
      border-top: 0.2rem solid #000000;
      border-right: 0.025rem solid #000000;
      border-bottom: 0.05rem solid #000000;
      border-left: 0.05rem solid #000000; }
      /* line 25, ../../netmatters/portfolio/scss/components/_extends.scss */
      .screenshot img.html, .screenshot-half img.html {
        background: #f06529;
        box-shadow: 0.25rem 0.35rem #f06529; }
      /* line 29, ../../netmatters/portfolio/scss/components/_extends.scss */
      .screenshot img.css, .screenshot-half img.css {
        background: #2965f1;
        box-shadow: 0.25rem 0.35rem #2965f1; }
      /* line 33, ../../netmatters/portfolio/scss/components/_extends.scss */
      .screenshot img.sass, .screenshot-half img.sass {
        background: #cc6699;
        box-shadow: 0.25rem 0.35rem #cc6699; }
      /* line 37, ../../netmatters/portfolio/scss/components/_extends.scss */
      .screenshot img.javascript, .screenshot-half img.javascript {
        background: #f0db4f;
        box-shadow: 0.25rem 0.35rem #f0db4f; } }

/* line 44, ../../netmatters/portfolio/scss/components/_extends.scss */
.coding-container {
  background: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem; }
  @media screen and (min-width: 48rem) {
    /* line 44, ../../netmatters/portfolio/scss/components/_extends.scss */
    .coding-container {
      padding: 1rem 0 1.5rem;
      border-radius: 1rem; } }
  @media screen and (min-width: 62rem) {
    /* line 44, ../../netmatters/portfolio/scss/components/_extends.scss */
    .coding-container {
      padding: 2rem; } }

/* line 7, ../../netmatters/portfolio/scss/components/_img.scss */
.hero picture > img {
  width: 100%;
  height: 100dvh;
  object-fit: cover; }

/* line 15, ../../netmatters/portfolio/scss/components/_img.scss */
.item-img img {
  width: 100%; }

/* line 21, ../../netmatters/portfolio/scss/components/_img.scss */
.avatar picture img {
  width: 15rem;
  height: auto;
  border-radius: 50%; }

/* line 7, ../../netmatters/portfolio/scss/components/_icons.scss */
[data-icon]:before {
  font-family: "icomoon";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* line 18, ../../netmatters/portfolio/scss/components/_icons.scss */
.scroll span {
  color: #ffffff; }

/* line 5, ../../netmatters/portfolio/scss/components/_forms.scss */
label {
  display: block;
  text-align: left;
  margin: 0.625rem 0 0.2rem; }

/* line 11, ../../netmatters/portfolio/scss/components/_forms.scss */
.form-control {
  width: 100%;
  min-height: 2.75rem;
  background-color: #dddddd;
  padding: 0.3rem 2.5rem 0.3rem 1rem;
  border: none;
  border-color: transparent;
  border-radius: 0.35rem;
  margin: 0;
  position: relative;
  top: 0;
  transition: 500ms ease; }
  /* line 115, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .form-control:hover, .form-control:focus {
    top: -0.25rem;
    transition: 500ms ease;
    box-shadow: 0 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.15); }
  /* line 126, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .form-control:hover, .form-control:focus, .form-control:active {
    border: 0.05rem solid #0652ff;
    background-color: #f7f7f7; }

/* line 24, ../../netmatters/portfolio/scss/components/_forms.scss */
textarea {
  resize: vertical; }

/* line 28, ../../netmatters/portfolio/scss/components/_forms.scss */
.form-group {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  min-height: 40rem; }

@media screen and (min-width: 48rem) {
  /* line 35, ../../netmatters/portfolio/scss/components/_forms.scss */
  .btn-group {
    display: flex;
    justify-content: flex-end; } }

/* line 44, ../../netmatters/portfolio/scss/components/_forms.scss */
.form-input {
  position: relative; }

/* line 48, ../../netmatters/portfolio/scss/components/_forms.scss */
.validate-icn {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  background: transparent; }

/* line 55, ../../netmatters/portfolio/scss/components/_forms.scss */
.error {
  font-size: 0.925rem;
  margin: 0 0 0.2rem; }

/* line 60, ../../netmatters/portfolio/scss/components/_forms.scss */
.success-icon {
  color: green; }

/* line 64, ../../netmatters/portfolio/scss/components/_forms.scss */
.error,
.failure-icon {
  color: red; }

/* line 69, ../../netmatters/portfolio/scss/components/_forms.scss */
.success-icon,
.failure-icon {
  opacity: 0; }

/* line 7, ../../netmatters/portfolio/scss/components/_buttons.scss */
.hamburger-menu {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  width: 2.75rem;
  height: 2.75rem;
  background-color: #0652ff;
  opacity: 0.7;
  padding: 1rem;
  border-radius: 0.15rem;
  transition: ease .3s; }
  /* line 20, ../../netmatters/portfolio/scss/components/_buttons.scss */
  .hamburger-menu:hover, .hamburger-menu:focus {
    opacity: 1; }
  @media screen and (min-width: 62rem) {
    /* line 7, ../../netmatters/portfolio/scss/components/_buttons.scss */
    .hamburger-menu {
      display: none !important; } }

/* line 29, ../../netmatters/portfolio/scss/components/_buttons.scss */
.ham-bar {
  width: 70%;
  height: 0.25rem;
  background-color: #fff;
  border-radius: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform .6s, opacity .6s, top .6s; }

/* line 41, ../../netmatters/portfolio/scss/components/_buttons.scss */
.bar-top {
  top: 25%; }

/* line 45, ../../netmatters/portfolio/scss/components/_buttons.scss */
.bar-bottom {
  top: 75%; }

/* line 49, ../../netmatters/portfolio/scss/components/_buttons.scss */
.hamburger-menu.active {
  border: 0.1rem solid #000;
  background-color: #0652ff;
  opacity: 1; }

/* line 55, ../../netmatters/portfolio/scss/components/_buttons.scss */
.hamburger-menu.active .bar-top {
  transform: translate(-50%, -50%) rotate(-495deg);
  top: 50%; }

/* line 60, ../../netmatters/portfolio/scss/components/_buttons.scss */
.hamburger-menu.active .bar-mid {
  transform: translate(-50%, -50%) rotate(180deg);
  opacity: 0; }

/* line 65, ../../netmatters/portfolio/scss/components/_buttons.scss */
.hamburger-menu.active .bar-bottom {
  transform: translate(-50%, -50%) rotate(-405deg);
  top: 50%; }

/* line 72, ../../netmatters/portfolio/scss/components/_buttons.scss */
.btn {
  width: 90%;
  min-height: 2.75rem;
  font-size: .825rem;
  font-weight: 600;
  background-color: #3975ff;
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem 0 0; }
  /* line 137, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .btn:hover, .btn:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #0048ec; }
  @media screen and (min-width: 35rem) {
    /* line 72, ../../netmatters/portfolio/scss/components/_buttons.scss */
    .btn {
      padding: 0.75rem 3rem; } }
  @media screen and (min-width: 48rem) {
    /* line 72, ../../netmatters/portfolio/scss/components/_buttons.scss */
    .btn {
      width: 12rem;
      border-radius: 0.75rem; } }

/* line 7, ../../netmatters/portfolio/scss/components/_navbar.scss */
.navigation {
  position: fixed;
  width: 100dvw;
  z-index: 2;
  display: flex;
  background: #eee;
  border-bottom: 0.2rem solid #0652ff; }
  /* line 14, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .navigation div {
    border-right: 0.2rem solid #0652ff;
    width: 7rem;
    height: 4rem; }
  /* line 19, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .navigation ul {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly; }

/* line 30, ../../netmatters/portfolio/scss/components/_navbar.scss */
.logo-container {
  width: 100%;
  height: 8rem;
  border-bottom: 0.2rem solid #0652ff; }

/* line 36, ../../netmatters/portfolio/scss/components/_navbar.scss */
.links {
  padding: 2rem 0 1rem; }
  /* line 38, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .links > :last-child {
    border-top: 0.1rem solid #0652ff;
    border-bottom: 0.1rem solid #0652ff; }
  /* line 41, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .links li {
    margin: 1rem 0; }
  /* line 44, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .links li:nth-child(-n+4) > a {
    position: relative; }
    /* line 43, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
    .links li:nth-child(-n+4) > a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.375rem;
      width: 100%;
      height: 0.1rem;
      background-color: #0652ff;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in-out; }
    /* line 55, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
    .links li:nth-child(-n+4) > a:hover::after, .links li:nth-child(-n+4) > a:focus::after {
      transform: scaleX(1);
      transform-origin: left; }
  /* line 48, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .links a {
    transition: color 250ms ease-in 150ms;
    transition: font-weight 50ms ease-out 50ms;
    transition: font-size 50ms ease-out 50ms; }
    /* line 66, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
    .links a:hover, .links a:focus {
      color: #0652ff;
      font-size: 1.2rem;
      font-weight: 800; }

/* line 53, ../../netmatters/portfolio/scss/components/_navbar.scss */
.social {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  margin: 1rem 0 0; }

/* line 60, ../../netmatters/portfolio/scss/components/_navbar.scss */
.social-icn {
  width: 4rem;
  height: 4rem; }
  /* line 63, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .social-icn a span {
    font-size: 1.8rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 50%; }
  /* line 69, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .social-icn:first-child a > span {
    color: #3b5998;
    transition: background-color, color 250ms ease-in 150ms;
    transition: font-size 50ms ease-out 50ms; }
    /* line 79, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
    .social-icn:first-child a > span:hover, .social-icn:first-child a > span:focus {
      color: #ffffff;
      background-color: #3b5998;
      font-size: 2.5rem;
      padding: 0.25rem; }
  /* line 73, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .social-icn:nth-child(2) a > span {
    color: #0077b5;
    transition: background-color, color 250ms ease-in 150ms;
    transition: font-size 50ms ease-out 50ms; }
    /* line 79, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
    .social-icn:nth-child(2) a > span:hover, .social-icn:nth-child(2) a > span:focus {
      color: #ffffff;
      background-color: #0077b5;
      font-size: 2.5rem;
      padding: 0.25rem; }
  /* line 77, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .social-icn:last-child a > span {
    color: #f1502f;
    transition: background-color, color 250ms ease-in 150ms;
    transition: font-size 50ms ease-out 50ms; }
    /* line 79, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
    .social-icn:last-child a > span:hover, .social-icn:last-child a > span:focus {
      color: #ffffff;
      background-color: #f1502f;
      font-size: 2.5rem;
      padding: 0.25rem; }

/* line 83, ../../netmatters/portfolio/scss/components/_navbar.scss */
.icons-menu {
  width: 100%; }

@media screen and (max-height: 62rem) and (max-width: 34.9375rem) {
  /* line 83, ../../netmatters/portfolio/scss/components/_navbar.scss */
  .icons-menu {
    display: none; } }

/* line 92, ../../netmatters/portfolio/scss/components/_navbar.scss */
.stack-row {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  margin: 1rem 0; }

/* line 99, ../../netmatters/portfolio/scss/components/_navbar.scss */
.stack-icn img {
  width: 2.5rem; }

/* line 5, ../../netmatters/portfolio/scss/components/_off-screen-menu.scss */
.off-screen-menu {
  position: fixed;
  top: 0;
  left: -12.75rem;
  z-index: 2;
  height: 100dvh;
  width: 12.75rem;
  background: #ffffff;
  border-right: 0.2rem solid #0652ff;
  transition: left ease .6s; }
  @media screen and (min-width: 35rem) {
    /* line 5, ../../netmatters/portfolio/scss/components/_off-screen-menu.scss */
    .off-screen-menu {
      left: -30.25rem;
      width: 30.25rem; } }
  @media screen and (max-height: 62rem) {
    /* line 20, ../../netmatters/portfolio/scss/components/_off-screen-menu.scss */
    .off-screen-menu nav {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly; } }

/* line 28, ../../netmatters/portfolio/scss/components/_off-screen-menu.scss */
.off-screen-menu.active {
  left: 0; }

/* line 32, ../../netmatters/portfolio/scss/components/_off-screen-menu.scss */
.logo-mobile-container {
  width: 100%;
  height: 8rem;
  border-bottom: 0.2rem solid #0652ff; }

/* line 38, ../../netmatters/portfolio/scss/components/_off-screen-menu.scss */
.links-mobile {
  padding: 2rem 0 1rem; }
  /* line 40, ../../netmatters/portfolio/scss/components/_off-screen-menu.scss */
  .links-mobile li {
    height: 2.75rem; }

/* line 7, ../../netmatters/portfolio/scss/layout/_home.scss */
.hero {
  position: relative; }

/* line 11, ../../netmatters/portfolio/scss/layout/_home.scss */
.overlay-container {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1; }

/* line 19, ../../netmatters/portfolio/scss/layout/_home.scss */
.overlay {
  height: 100%; }

/* line 24, ../../netmatters/portfolio/scss/layout/_home.scss */
.overlay-h1 {
  position: relative;
  top: 0;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

/* line 34, ../../netmatters/portfolio/scss/layout/_home.scss */
.overlay-content {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  z-index: 2; }

/* line 45, ../../netmatters/portfolio/scss/layout/_home.scss */
.overlay-p {
  display: flex;
  justify-content: center; }

/* line 50, ../../netmatters/portfolio/scss/layout/_home.scss */
.scroll {
  padding-bottom: 1rem; }
  /* line 52, ../../netmatters/portfolio/scss/layout/_home.scss */
  .scroll a small {
    color: #ffffff;
    background: linear-gradient(0deg, rgba(6, 82, 255, 0) 0%, rgba(6, 82, 255, 0.25) 15%, rgba(6, 82, 255, 0.75) 25%, rgba(6, 82, 255, 0.5) 75%, rgba(6, 82, 255, 0.25) 85%, rgba(6, 82, 255, 0) 100%); }

/* line 67, ../../netmatters/portfolio/scss/layout/_home.scss */
#cursor {
  -webkit-text-fill-color: #0652ff;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #000000;
  font-size: clamp(2.4rem, 5.5vw, 4rem);
  font-weight: 200;
  margin-left: 0.01ch; }

/* Class that will eventually be removed to letters in the for loop*/
/* line 76, ../../netmatters/portfolio/scss/layout/_home.scss */
.typeAction {
  visibility: hidden;
  /*Below targets the cursor's animation & colour*/ }
  /* line 81, ../../netmatters/portfolio/scss/layout/_home.scss */
  .typeAction span {
    padding-left: 1px;
    animation: blink 700ms steps(1) infinite;
    -webkit-animation: blink 700ms steps(1) infinite; }

@keyframes blink {
  50% {
    color: transparent; } }

@-webkit-keyframes blink {
  50% {
    color: transparent; } }

/* line 5, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
.portfolio-container {
  padding: 1rem 0 0; }
  @media screen and (min-width: 48rem) {
    /* line 5, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
    .portfolio-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 1rem; } }
  @media screen and (min-width: 62rem) {
    /* line 5, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
    .portfolio-container {
      gap: 2rem;
      padding: 2rem 0 2rem; } }

/* line 18, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
.item {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #0652ff, transparent 50%);
  position: relative;
  top: 0;
  transition: 500ms ease; }
  /* line 115, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .item:hover, .item:focus {
    top: -1rem;
    transition: 500ms ease;
    box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15); }
  /* line 91, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .item-img::before {
    content: "";
    position: absolute;
    bottom: -20%;
    left: -90%;
    width: 150%;
    height: 4rem;
    z-index: 1;
    background-color: #ffffff;
    opacity: 0.2;
    transform: rotate(45deg);
    transition: all 350ms ease-in; }
  /* line 104, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .item:hover .item-img::before,
  .item:focus .item-img::before {
    bottom: 100%;
    left: 40%; }
  @media screen and (max-width: 47.9375rem) {
    /* line 18, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
    .item {
      margin-bottom: 1.5rem; } }
  @media screen and (min-width: 48rem) {
    /* line 18, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
    .item {
      border-radius: 0 0 0.4rem 0.4rem; } }

/* line 32, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
.item-img {
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 48rem) {
    /* line 32, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
    .item-img {
      border-radius: 0.4rem 0.4rem 0 0; } }

/* line 40, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
.item-text {
  padding: 0 0.5rem 0.5rem;
  text-align: left; }
  /* line 43, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
  .item-text p {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff; }
  /* line 48, ../../netmatters/portfolio/scss/layout/_portfolio.scss */
  .item-text span {
    font-size: 0.75rem;
    font-weight: 400;
    color: #ffffff; }

/* line 5, ../../netmatters/portfolio/scss/layout/_contact.scss */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #cccccc;
  padding: 1rem; }
  @media screen and (min-width: 48rem) {
    /* line 5, ../../netmatters/portfolio/scss/layout/_contact.scss */
    .contact-container {
      display: grid;
      align-items: start;
      grid-template-columns: 3.5fr 4fr;
      gap: 2rem;
      padding: 1.5rem;
      border-radius: 1rem;
      margin: 2rem 0 0; } }
  @media screen and (min-width: 62rem) {
    /* line 5, ../../netmatters/portfolio/scss/layout/_contact.scss */
    .contact-container {
      grid-template-columns: 1fr 1fr;
      padding: 2rem; } }

/* line 26, ../../netmatters/portfolio/scss/layout/_contact.scss */
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%; }
  @media screen and (min-width: 48rem) {
    /* line 26, ../../netmatters/portfolio/scss/layout/_contact.scss */
    .info-container {
      max-width: 45ch; } }

@media screen and (min-width: 75rem) {
  /* line 37, ../../netmatters/portfolio/scss/layout/_contact.scss */
  .contact-info {
    justify-self: center; } }

/* line 41, ../../netmatters/portfolio/scss/layout/_contact.scss */
.contact-info address {
  margin-bottom: 1.5rem;
  padding: 0.5rem; }

/* line 45, ../../netmatters/portfolio/scss/layout/_contact.scss */
.contact-info .tel {
  position: relative;
  transition: color 250ms ease-in 150ms;
  transition: font-weight 50ms ease-out 50ms;
  transition: font-size 50ms ease-out 50ms; }
  /* line 43, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .contact-info .tel::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    height: 0.1rem;
    background-color: #0652ff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in-out; }
  /* line 55, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .contact-info .tel:hover::after, .contact-info .tel:focus::after {
    transform: scaleX(1);
    transform-origin: left; }
  /* line 66, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .contact-info .tel:hover, .contact-info .tel:focus {
    color: #0652ff;
    font-size: 1.5rem;
    font-weight: 800; }

/* line 50, ../../netmatters/portfolio/scss/layout/_contact.scss */
.contact-info .email {
  position: relative;
  transition: color 250ms ease-in 150ms;
  transition: font-weight 50ms ease-out 50ms;
  transition: font-size 50ms ease-out 50ms; }
  /* line 43, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .contact-info .email::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.1rem;
    width: 100%;
    height: 0.1rem;
    background-color: #0652ff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in-out; }
  /* line 55, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .contact-info .email:hover::after, .contact-info .email:focus::after {
    transform: scaleX(1);
    transform-origin: left; }
  /* line 66, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
  .contact-info .email:hover, .contact-info .email:focus {
    color: #0652ff;
    font-size: 1.5rem;
    font-weight: 800; }

/* line 57, ../../netmatters/portfolio/scss/layout/_contact.scss */
.contact-notice {
  max-width: 45ch; }

/* line 61, ../../netmatters/portfolio/scss/layout/_contact.scss */
.notice {
  padding: 0.5rem;
  border: 0.2rem solid #0652ff;
  border-radius: 1rem 1rem 0 1rem;
  box-shadow: 0.4rem 0.625rem;
  margin: -1rem 0 1.625rem; }
  /* line 67, ../../netmatters/portfolio/scss/layout/_contact.scss */
  .notice strong {
    font-size: 0.875rem; }
  /* line 70, ../../netmatters/portfolio/scss/layout/_contact.scss */
  .notice em {
    text-decoration: underline; }

/* line 75, ../../netmatters/portfolio/scss/layout/_contact.scss */
.contact-form {
  width: 100%; }
  @media screen and (min-width: 48rem) {
    /* line 75, ../../netmatters/portfolio/scss/layout/_contact.scss */
    .contact-form {
      max-width: 35rem; } }

/* line 5, ../../netmatters/portfolio/scss/layout/_about.scss */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 62rem) {
    /* line 5, ../../netmatters/portfolio/scss/layout/_about.scss */
    .about-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: flex-start; } }
  @media screen and (min-width: 75rem) {
    /* line 5, ../../netmatters/portfolio/scss/layout/_about.scss */
    .about-container {
      justify-content: space-around; } }

/* line 21, ../../netmatters/portfolio/scss/layout/_about.scss */
.avatar {
  margin-top: 0; }
  @media screen and (min-width: 35rem) {
    /* line 21, ../../netmatters/portfolio/scss/layout/_about.scss */
    .avatar {
      margin: 2rem 0 2rem; } }

/* line 28, ../../netmatters/portfolio/scss/layout/_about.scss */
.about-text {
  max-width: 60ch;
  margin-bottom: 1rem; }
  @media screen and (min-width: 62rem) {
    /* line 28, ../../netmatters/portfolio/scss/layout/_about.scss */
    .about-text {
      padding-left: 1rem;
      margin-bottom: 1rem; } }

/* line 5, ../../netmatters/portfolio/scss/layout/_coding.scss */
.example-container {
  background: #dddddd;
  padding: 1rem; }
  @media screen and (min-width: 48rem) {
    /* line 5, ../../netmatters/portfolio/scss/layout/_coding.scss */
    .example-container {
      border-radius: 1rem;
      margin: 1rem 0 2rem; } }

/* line 14, ../../netmatters/portfolio/scss/layout/_coding.scss */
.coding-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media screen and (min-width: 62rem) {
  /* line 21, ../../netmatters/portfolio/scss/layout/_coding.scss */
  .screenshot {
    max-width: 80%;
    margin-top: 1rem; } }

/* line 29, ../../netmatters/portfolio/scss/layout/_coding.scss */
.screenshot img {
  width: 100%; }

/* line 34, ../../netmatters/portfolio/scss/layout/_coding.scss */
.screenshot-info {
  padding: 1rem 1rem 0; }
  @media screen and (min-width: 62rem) {
    /* line 34, ../../netmatters/portfolio/scss/layout/_coding.scss */
    .screenshot-info {
      width: 80%; } }

@media screen and (min-width: 35rem) {
  /* line 41, ../../netmatters/portfolio/scss/layout/_coding.scss */
  .content-container-half {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem; } }

/* line 50, ../../netmatters/portfolio/scss/layout/_coding.scss */
.content-container-half.screenshot-info {
  padding: 1rem 1rem 0; }
  @media screen and (min-width: 35rem) {
    /* line 50, ../../netmatters/portfolio/scss/layout/_coding.scss */
    .content-container-half.screenshot-info {
      max-width: 39%; } }
  @media screen and (min-width: 48rem) {
    /* line 50, ../../netmatters/portfolio/scss/layout/_coding.scss */
    .content-container-half.screenshot-info {
      min-width: 49%; } }
  @media screen and (min-width: 62rem) {
    /* line 50, ../../netmatters/portfolio/scss/layout/_coding.scss */
    .content-container-half.screenshot-info {
      min-width: 59%; } }

@media screen and (min-width: 35rem) {
  /* line 64, ../../netmatters/portfolio/scss/layout/_coding.scss */
  .screenshot-half {
    min-width: 59%;
    margin-top: 1rem; } }

@media screen and (min-width: 48rem) {
  /* line 64, ../../netmatters/portfolio/scss/layout/_coding.scss */
  .screenshot-half {
    max-width: 49%;
    margin-top: 2rem; } }

@media screen and (min-width: 62rem) {
  /* line 64, ../../netmatters/portfolio/scss/layout/_coding.scss */
  .screenshot-half {
    max-width: 39%; } }

/* line 79, ../../netmatters/portfolio/scss/layout/_coding.scss */
.screenshot-half img {
  width: 100%; }

/* line 5, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
.scs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0; }
  @media screen and (min-width: 62rem) {
    /* line 5, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
    .scs-container {
      display: grid;
      grid-template-areas: ". . header header header header header header . ." ". main main main main main main-logo main-logo . ." ". . footer-logo footer-logo footer footer footer footer footer .";
      align-items: start; } }

/* line 22, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
.scs-item article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: none;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 1rem 0; }
  @media screen and (min-width: 48rem) {
    /* line 22, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
    .scs-item article {
      border-radius: 1rem; } }
  @media screen and (max-width: 47.9375rem) {
    /* line 22, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
    .scs-item article {
      width: 100%; } }

/* line 39, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
.scion {
  grid-area: header; }
  /* line 41, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
  .scion article {
    background-color: #6c99ff; }

/* line 46, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
.treehouse {
  grid-area: main; }
  /* line 48, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
  .treehouse article {
    background-color: #54d98c; }
  /* line 51, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
  .treehouse h4 > a {
    position: relative;
    transition: color 250ms ease-in 150ms;
    transition: font-weight 50ms ease-out 50ms;
    transition: font-size 50ms ease-out 50ms; }
    /* line 43, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
    .treehouse h4 > a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.375rem;
      width: 100%;
      height: 0.1rem;
      background-color: #0652ff;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in-out; }
    /* line 55, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
    .treehouse h4 > a:hover::after, .treehouse h4 > a:focus::after {
      transform: scaleX(1);
      transform-origin: left; }
    /* line 66, ../../netmatters/portfolio/scss/abstracts/_mixins.scss */
    .treehouse h4 > a:hover, .treehouse h4 > a:focus {
      color: #0652ff;
      font-size: 1.125rem;
      font-weight: 800; }

/* line 58, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
.logo1 {
  grid-area: main-logo; }
  /* line 60, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
  .logo1 img {
    width: 100%; }
    @media screen and (min-width: 62rem) {
      /* line 60, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
      .logo1 img {
        width: 80%;
        margin: 3rem 0 0 3rem; } }

/* line 69, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
.logo2 {
  grid-area: footer-logo; }
  /* line 71, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
  .logo2 img {
    width: 45%;
    border-radius: 50%; }
    @media screen and (min-width: 62rem) {
      /* line 71, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
      .logo2 img {
        width: 65%;
        margin: 3rem 3rem 0 0; } }

/* line 81, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
.netmatters {
  grid-area: footer; }
  /* line 83, ../../netmatters/portfolio/scss/layout/_scs-scheme.scss */
  .netmatters article {
    background-color: #b8a1cc; }

/* line 5, ../../netmatters/portfolio/scss/utilities/_containers.scss */
.sidebar {
  height: 100%;
  width: 12rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #ffffff;
  border-right: 0.2rem solid #0652ff;
  border-left: 0.2rem solid #0652ff; }
  @media screen and (max-height: 62rem) {
    /* line 5, ../../netmatters/portfolio/scss/utilities/_containers.scss */
    .sidebar {
      width: 24rem; }
      /* line 17, ../../netmatters/portfolio/scss/utilities/_containers.scss */
      .sidebar nav {
        display: flex;
        flex-direction: row-reverse; }
      /* line 21, ../../netmatters/portfolio/scss/utilities/_containers.scss */
      .sidebar .links-menu {
        width: 12rem;
        border-left: 0.2rem solid #0652ff; } }

/* line 28, ../../netmatters/portfolio/scss/utilities/_containers.scss */
.main {
  min-height: 100%; }
  @media screen and (min-width: 62rem) {
    /* line 28, ../../netmatters/portfolio/scss/utilities/_containers.scss */
    .main {
      margin-left: 12rem; } }
  @media screen and (min-width: 62rem) and (max-height: 62rem) {
    /* line 28, ../../netmatters/portfolio/scss/utilities/_containers.scss */
    .main {
      margin-left: 24rem; } }

@media screen and (min-width: 48rem) {
  /* line 38, ../../netmatters/portfolio/scss/utilities/_containers.scss */
  .main-inner {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto; } }

@media screen and (min-width: 62rem) {
  /* line 38, ../../netmatters/portfolio/scss/utilities/_containers.scss */
  .main-inner {
    max-width: 75rem;
    padding-left: 2rem;
    padding-right: 2rem; } }

/* line 53, ../../netmatters/portfolio/scss/utilities/_containers.scss */
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

/* line 59, ../../netmatters/portfolio/scss/utilities/_containers.scss */
.footer {
  position: sticky;
  bottom: 1rem;
  padding: 2rem 0 0.5rem; }

@media screen and (min-width: 35rem) {
  /* line 67, ../../netmatters/portfolio/scss/utilities/_containers.scss */
  .small {
    display: none; } }

@media screen and (min-width: 48rem) {
  /* line 73, ../../netmatters/portfolio/scss/utilities/_containers.scss */
  .medium {
    display: none; } }

@media screen and (min-width: 62rem) {
  /* line 79, ../../netmatters/portfolio/scss/utilities/_containers.scss */
  .mobile {
    display: none; } }

@media screen and (max-width: 61.9375rem) {
  /* line 85, ../../netmatters/portfolio/scss/utilities/_containers.scss */
  .full {
    display: none; } }

/* line 91, ../../netmatters/portfolio/scss/utilities/_containers.scss */
.hidden {
  display: none;
  visibility: hidden; }

/*# sourceMappingURL=main.css.map */