// ========================================
// Containers
// ========================================

.sidebar			{
	height: 100%;
	width: $sidebar;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
	@include b-pri(right);
	@include mqx(large)	{
		left: -#{$sidebar};
	}
}

.main 				{
	min-height: 100%;
	@include mqm(large)	{
		margin-left: $sidebar;
	}
}

.main-inner			{
	max-width: 120rem;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
	@include mqm(large)	{
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

// Footer

footer 				{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	@include mqm(small)	{
		min-height: 66.8dvh;
	}
	@include mqm(medium)	{
		min-height: 77.8dvh;
	}
	@include mqm(large)	{
		min-height: 71.5dvh;
	}
	@include mqm(x-large)	{
		min-height: 72dvh;
	}
	@include mqm(xx-large)	{
		min-height: 77dvh;
	}
}

.footer 			{
	position: sticky;
	bottom: 1rem;
	text-align: center;
	padding: 2rem 0 0.5rem;
}
