// ========================================
// Containers
// ========================================

.main 				{
	min-height: 100%;
	@include mqm(large)	{
		margin-left: $sidebar;
		@media screen and (max-height: 62rem)	{
			margin-left: $sidebar * 2.5;
		}
	}
}

.main-inner			{
	@include mqm(medium)	{
		padding-left: 1rem;
		padding-right: 1rem;
		margin: 0 auto;
	}
	@include mqm(large)	{
		max-width: 75rem;	
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

// Footer

footer 				{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.footer 			{
	position: sticky;
	bottom: 1rem;
	padding: 2rem 0 0.5rem;
}

// Display

.small				{
	@include mqm(small)	{
		display: none;
	}
}

.medium				{
	@include mqm(medium)	{
		display: none;
	}
}

.mobile 				{
	@include mqm(large)	{
		display: none;
	}
}

.full 				{
	@include mqx(large)	{
		display: none;
	}
}

.hidden				{
	display: none;
	visibility: hidden;
}