// ========================================
// About
// ========================================

.about-container	{
	display: flex;
	flex-direction: column;
	align-items: center;
	@include mqm(large)	{
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		align-items: flex-start;
	}
	@include mqm(x-large)	{
		justify-content: space-around;
	}
}

.avatar  			{
	margin-top: 0;
	@include mqm(small)	{
		margin: 2rem 0 2rem;
	}
}

.about-text			{
	max-width: 60ch;
	margin-bottom: 1rem;
	@include mqm(large)	{
		padding-left: 1rem;
		margin-bottom: 1rem;
	}
}
