// ========================================
// Coding
// ========================================

.example-container	{
	background: $news-border;
	padding: 1rem;
	@include mqm(medium)	{
		border-radius: 1rem;
		margin: 1rem 0 2rem;
	}
}

.coding-container	{
	display: flex;
	flex-direction: column;
	align-items: center;
	@extend %coding-container;
}

.code-snippet			{
	@extend %code-snippet;
	@include mqm(large){
		margin-top: 1rem;
	}
}

.code-snippet-info	{
	@include mqm(small)	{
		padding: 1rem 1rem 0;
	}
	@include mqm(large){
		width: 80%;
	}
}
