// ========================================
// Portfolio
// ========================================

.portfolio-container	{
	padding: 1rem 0 0;
	@include mqm(medium)	{
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr) );
		gap: 1rem;
	}
	@include mqm(large)		{
		gap: 2rem;
		padding: 2rem 0 2rem;
	}
}

.item 					{
	display: flex;
	flex-direction: column;
	background: linear-gradient(0deg, $color-pri, transparent 50%);
	@include lift(1rem, 0.5rem, black);
	@include fancy-shine;
	@include mqx(medium)	{
		margin-bottom: 1.5rem;
	}
	@include mqm(medium)	{
		border-radius: 0 0 0.4rem 0.4rem;	
	}
}

.item-img				{
	position: relative;
	overflow: hidden;
	@include mqm(medium)	{
		border-radius: 0.4rem 0.4rem 0 0;
	}
}

.item-text				{
	padding: 0 0.5rem 0.5rem;
	text-align: left;
	p 						{
		font-size: 1rem;
		font-weight: 600;
		color: $white;
	}
	span 						{
		font-size: 0.75rem;
		font-weight: 400;
		color: $white;
	}
	@include mqx(medium)	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 3rem;
		padding-top: 0.5rem;
	}
}

	