// ========================================
// SCS-Scheme
// ========================================

.scs-container		{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;
	@include mqm(large)	{
		display: grid;
		grid-template-areas:
			". . header header header header header header . ."
			". main main main main main main-logo main-logo . ."
			". . footer-logo footer-logo footer footer footer footer footer ." ;
		align-items: start;
	}
}

.scs-item		{
	article			{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem;
		border: none;
		box-shadow:  0 0 0.5rem 0.5rem rgba($black, .1);
		margin: 1rem 0;
		@include mqm(medium){
			border-radius: 1rem;
		}
		@include mqx(medium)	{
			width: 100%;
		}
	}
}

.scion			{
	grid-area: header;
	article			{
		background-color: lighten($color-pri, 20%);
	}
}

.treehouse		{
	grid-area: main;
	article			{
		background-color: lighten($marketing, 10%);
	}
	h4 > a 			{
		position: relative;
		@include fancy-line;
		@include fancy-text(1.125rem);
	}
}

.logo1			{
	grid-area: main-logo;
	svg 			{
		width: 4rem;
		height: 4rem;	
		@include mqm(large)	{
			width: 5rem;
			height: 5rem;	
			margin: 3rem 0 0 3rem;
		}
	}
}

.logo2			{
	grid-area: footer-logo;
	svg 			{
		width: 4rem;
		height: 4rem;	
		border-radius: 50%;
		@include mqm(large)	{
			width: 5rem;
			height: 5rem;	
			margin: 3rem 3rem 0 0;
		}
	}
}

.netmatters		{
	grid-area: footer;
	article			{
		background-color: lighten($news, 15%);
	}
}
