// ========================================
// SCS-Scheme
// ========================================

.scs-container		{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0;
	text-align: center;
	
}

article				{
	
	@include mqm(small)	{
		min-width: 40ch;
		max-width: 60ch;
	}
}