// ========================================
// Buttons
// ========================================

// Off Screen Menu

.hamburger-menu				{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 2;
	width: 2.75rem;
	height: 2.75rem;
	background-color: $color-pri;
	opacity: 0.7;
	padding: 1rem;
	border-radius: 0.15rem;
	transition: ease .3s;
	&:hover,
	&:focus	{
		opacity: 1;
	}
	@include mqm(large)	{
		display: none;
	}
}

.ham-bar	{
	width: 70%;
	height: 0.25rem;
	background-color: #fff;
	border-radius: 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform .6s, opacity .8s, top .6s;
}

.bar-top	{
	top: 25%;
}

.bar-bottom	{
	top: 75%;
}

.hamburger-menu.active	{
	border: 0.1rem solid #000;
	background-color: $color-pri;
	opacity: 1;
}

.hamburger-menu.active .bar-top	{
	transform: translate(-50%, -50%) rotate(-495deg);
	top: 50%;
}

.hamburger-menu.active .bar-mid	{
	transform: translate(-50%, -50%) rotate(180deg);
	opacity: 0;
}

.hamburger-menu.active .bar-bottom	{
	transform: translate(-50%, -50%) rotate(-405deg);
	top: 50%;
}

// Contact Form

.btn 				{
	width: 90%;
	min-height: 2.75rem;
	font-size: .825rem;
	font-weight: 600;
	background-color: lighten($color-pri, 10%);
	padding: 0.75rem 1.75rem;
	border: none;
	border-radius: 0.5rem;
	@include btn($color-pri);
	@include mqm(small)	{
		padding: 0.75rem 3rem;
	}
	@include mqm(medium)	{
		width: 12rem;
		border-radius: 0.75rem;
	}
}