// ========================================
// Buttons
// ========================================

// Off Screen Menu

.hamburger-menu				{
	display: none;
	position: fixed;
	top: 1.25rem;
	right: 1.25rem;
	z-index: 2;
	width: 2.75rem;
	height: 2.75rem;
	background-color: $color-pri;
	border-radius: 0.15rem;
	border: 0;
	opacity: 0.7;
	transition: ease .3s;
	&:hover,
	&:focus	{
		opacity: 1;
	}
	@include mqm(large)	{
		display: none !important;
	}
}

.hamburger 		{
	stroke: $white;
	fill: none;
	transition: translate 0.6s;
}

.hamburger-menu[data-state="opened"] .hamburger		{
	// translate: 10px -10px;
	rotate: 0.125turn;
}

.hamburger-menu .line			{
	transition: 0.6s;
	stroke-dasharray: 60 31 60 1000;
}

.hamburger-menu[data-state="opened"] .line			{
	stroke-dasharray: 60 105 60 300;
	stroke-dashoffset: -90;
}

// Contact Form

.btn 				{
	width: 90%;
	min-height: 2.75rem;
	font-size: .825rem;
	font-weight: 600;
	background-color: lighten($color-pri, 10%);
	padding: 0.75rem 1.75rem;
	border: none;
	border-radius: 0.5rem;
	margin: 1rem 0 0;
	@include btn($color-pri);
	@include mqm(small)	{
		padding: 0.75rem 3rem;
	}
	@include mqm(medium)	{
		width: 12rem;
		border-radius: 0.75rem;
	}
}