// ========================================
// Form Elements
// ========================================

.form-group			{
	@include mqm(large)	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}
}

.form-control		{
	width: 100%;
	min-height: 2.75rem;
	background-color: $news-border;
	padding-left: 1rem;
	border: none;
	border-color: transparent;
	border-radius: 0.35rem;
	margin: 0 0 1rem;
	@include lift(0.25rem, 0.25rem, black);
	@include highlight($color-pri, lighten($news-border, 10%));
}

textarea 			{
	resize: vertical;
}

.btn-group			{
	@include mqm(medium)	{
		display: flex;
		justify-content: flex-end;
	}
}