// ========================================
// Icons
// ========================================

// SVG

svg  				{
	width: 2rem;
	height: 2rem;
	overflow: hidden;
}

// Icomoon

[data-icon]:before {
	font-family: "icomoon";
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.scroll span		{
	color: $white;
}