// ========================================
// Images
// ========================================

// Hero

.hero picture > img			{
		width: 100%;
		height: 100dvh;
		object-fit: none;
		@include mqm(large)	{
			max-height: 67.5rem;
		}
}

// Portfolio

.item-img img 				{
	width: 100%;
}

// About

.avatar picture img					{
	width: 15rem;
	height: auto;
	border-radius: 50%;
}