// ========================================
// Images
// ========================================

// Hero

.hero picture > img			{
		width: 100%;
		height: 100dvh;
		object-fit: cover;
}

// Portfolio

.item-img img 				{
	width: 100%;
}

// About

.avatar picture img					{
	width: 15rem;
	height: auto;
	border-radius: 50%;
}