// ========================================
// Nav Bar
// ========================================

// No Script Navigation

.navigation			{
	position: fixed;
	width: 100dvw;
	z-index: 2;
	display: flex;
	background: #eee;
	@include b-pri(bottom);
	div				{
		@include b-pri(right);
		width: 7rem;
		height: 4rem;
	}
	ul 					{
		width: 100%;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: space-evenly;
	}
}

// Sidebar Navigation

.sidebar  		{
	height: 100%;
	width: $sidebar;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background: $white;
	overflow-y: auto;
	@include b-pri(right);
	@include b-pri(left);
}

.logo-container		{
	width: 100%;
	height: 8rem;
	@include b-pri(bottom);
}

.links					{
	margin: 1rem 0 0.5rem;
	>:nth-child(5)			{
		@include b-sec(top, bottom);
		margin: 1rem 0 0.5rem;
	}
	li 						{
		margin: 0.5rem 0;
	}
	li:nth-child(-n+4)>a	{
		position: relative;
		@include fancy-line;
	}
	a 						{
		@include fancy-text(1.2rem);
	}
	.social-link			{

	}
}

.links-menu			{
	padding: 0.5rem;
}

.social				{
	@extend %social;
	@media screen and (max-height: 62rem)	{
		display: none;
	}
}

.social-icn				{
	width: 100%;
	min-height: 3.75rem;
	a span					{
		font-size: 2rem;
		line-height: 2rem;
		background-color: $white;
		padding: 0.125rem 0.5rem;
		border-radius: 50%;
	}
	& .facebook > span			{
		color: $facebook;
		@include fancy-icon(2rem, $facebook);
	}
	& .linkedin > span			{
		color: $linkedin;
		@include fancy-icon(2rem, $linkedin);
	}
	& .github > span			{
		color: $git;
		@include fancy-icon(2rem, $git);
	}
}

.icons-menu				{
	width: 100%;
	@media screen and (max-height: 62rem)	{
		display: none;
	}
	@include mqx(small)						{
		display: none;
	}
}

.stack-row				{
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 1rem;
	margin: 0 0 1rem;
}
