// ========================================
// Nav Bar
// ========================================

// No Script Navigation

.navigation			{
	position: fixed;
	width: 100dvw;
	z-index: 2;
	display: flex;
	background: #eee;
	@include b-pri(bottom);
	div				{
		@include b-pri(right);
		width: 7rem;
		height: 4rem;
	}
	ul 					{
		width: 100%;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: space-evenly;
	}
}

// Sidebar Navigation

.logo-container		{
	width: 100%;
	height: 8rem;
	@include b-pri(bottom);
}

.links				{
	padding: 2rem 0 1rem;
	>:last-child		{
		@include b-sec(top, bottom);
	}
	li 					{
		margin: 1rem 0;
	}
	li:nth-child(-n+4)>a	{
		position: relative;
		@include fancy-line;
	}
	a 					{
		@include fancy-text(1.2rem);
	}
}

.social				{
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 2rem;
	margin: 1rem 0 0;
}

.social-icn				{
	width: 4rem;
	height: 4rem;
	a span					{
		font-size: 1.8rem;
		background-color: $white;
		padding: 1rem;
		border-radius: 50%;
	}
	&:first-child a > span			{
		color: $facebook;
		@include fancy-icon(2rem, $facebook);
	}
	&:nth-child(2) a > span			{
		color: $linkedin;
		@include fancy-icon(2rem, $linkedin);
	}
	&:last-child a > span			{
		color: $git;
		@include fancy-icon(2rem, $git);
	}
}

.stack-row				{
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 1rem;
	margin: 1rem 0;
}

.stack-icn img			{
	width: 2.5rem;
}