// ========================================
// Nav Bar
// ========================================

.logo-container		{
	display: flex;
	justify-content: center;
	width: 100%;
	@include b-pri(bottom);
}

.logo				{
	font-size: 5rem;
	font-weight: 900;
	color: $color-pri;
	-webkit-text-fill-color: $color-pri;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	padding: 1rem 0;
	&:hover,
	&:focus         {
		font-size: 5.2rem;
		-webkit-text-fill-color: lighten($color-pri, 10%);
		padding: 0.8595rem 0;
		text-shadow: 0 0 0.5rem $color-pri;
	}
}

.links				{
	text-align: center;
	padding: 2rem 0 1rem;
	>:last-child		{
		@include b-sec(top,bottom);
	}
	li 					{
		margin: 1rem 0;
	}
	li:nth-child(-n+4)>a	{
		position: relative;
		@include fancy-line;
	}
	a 					{
		font-size: .925rem;
		font-weight: 400;
		line-height: 2rem;
		@include fancy-text(1rem);
	}
}

.social				{
	display: flex;
	justify-content: space-between;
	margin: 0 1.3rem;
}

.social-icn				{
	text-align: center;
	a 					{
		font-size: 1.5rem;
		padding: 0.5rem;
		@include fancy-icon(1.8rem);
	}
}

.stack				{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: $sidebar;
	margin-top: 5rem;
}

.stack-icn			{
	padding: 2rem;
	img			{
		width: 5rem;
	}
}