// ========================================
// Off Screen Menu
// ========================================

.off-screen-menu		{
	position: fixed;
	top: 0;
	left: -13rem;
	z-index: 2;
	height: 100%;
	width: 13rem;
	overflow-y: auto;
	background: $white;
	@include b-pri(right);
	transition: left ease .6s;
	@include mqm(small)		{
		left: -32rem;
		width: 32rem;
	}
	@media screen and (max-height: 62rem)	{
		nav 		{
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-evenly;
		}
		.links-menu	{
			margin-bottom: 0.5rem;
		}
		.icons-menu	{
			@include b-pri(right);			
		}
	}
}

.off-screen-menu.active	{
	left: 0;
}

.mobile-landscape		{
	@extend %social;
	@media screen and (min-height: 62rem)	{
		display: none;
	}
}