// ========================================
// Base Styles
// ========================================

body 				{
	font-family: Poppins, sans-serif;
	letter-spacing: .4px;
	min-height: 100%;
}

a 					{
	text-decoration: none;
	color: $black;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.small				{
	@include mqm(small)	{
		display: none;
	}
}

.medium				{
	@include mqm(medium)	{
		display: none;
	}
}

.full 				{
	@include mqx(small)	{
		display: none;
	}
}

.hidden				{
	display: none;
	visibility: hidden;
}