// ========================================
// Root
// ========================================

* 					{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1rem;
}

html				{
	height: 100%;
}