// ========================================
// Root
// ========================================

* 					{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1rem;
	&:focus				{
		outline: 0;
	}
}

html				{
	height: 100%;
}